<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>report</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.css">
    <link rel="stylesheet" href="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<body>

<div class="col-md-12 pull-left" id="tb1">
    <form class="form-inline" id="resource-form">

        <div class="form-group">
            <label class="form-lable date">日期：</label>
            <div class='input-group date' >
                <input type='text' class="form-control" name="month" id='month' th:value="${month}" required />
            </div>
        </div>

        <a class="btn btn-info  glyphicon glyphicon-search form-search" id="searchBtn" >搜索</a>
<!--        <a class="btn btn-danger" id="remove" >删除</a>-->
    </form>
</div>

    <table id="table" class="modal-body"></table>

    <div id="toolbar" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
    </div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">填写汇报</h4>
            </div>
            <form id="form" role="form" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="jobNumber" name="jobNumber" th:value="${jobNumber}">
                    <div class="form-group">
                        <label for="date" >日期</label>
                        <input type="text" class="form-control" id="date" name="date" required></input>
                    </div>
                    <div class="form-group">
                        <label for="content">计划内容</label>
                        <textarea class="form-control" id="content" name="content" rows="8" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="comment" >备注(如计划不变，此处无需填写)</label>
                        <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="save" class="btn btn-primary">保存</button>
                    <button type="button" id="next" class="btn btn-info">保存&下一天</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment-with-locales.min.js"></script>
<script src="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/i18n/defaults-zh_CN.min.js"></script>
</body>
<script th:inline="javascript">

    $(function () {

        $('#month').datetimepicker({
            locale: 'zh-CN',
            format: 'YYYY-MM',
            showTodayButton: true,
            showClear: true,
            showClose: true
        });

        $('#date').datetimepicker({
            locale: 'zh-CN',
            format: 'YYYY-MM-DD dddd',
            showTodayButton: true,
            showClear: true,
            showClose: true,
            minDate : moment().add('d', -2).toDate(),
            maxDate : moment().add('d', 8).toDate() //最大日期为7天后
        });

        $('#searchBtn').click(function () {
            console.log($('#resource-form').serialize());
            // $('#table').bootstrapTable('refresh');
            $('#table').bootstrapTable('refresh',
                {ajaxOption:{
                        data: $('#resource-form').serialize()
                    }
                });
        });

        $('#add').click(function () {
            $('#next').show();
            var id = $('#id').val();
            // if (id==''||id==undefined||id==null) {
            if (id.length > 0) {
                $('#id').val('');
                $('#form').resetForm();//无法重置hidden项
            }

            $('#myModal').modal('show');
        });

        $('#remove').click(function() {
            if($('#resource-form')[0].reportValidity()) {
                bootbox.confirm("确认删除？",
                    function(result){
                        if(result) {
                            $.ajax({
                                type: "POST",
                                url: "/report/remove",
                                traditional: true,
                                data: {
                                    id: $('#table').bootstrapTable('getSelections')[0].id
                                },
                                success: function(data){
                                    $('#table').bootstrapTable('refresh');
                                },
                                error:function(xhr,state,errorThrown){
                                    alert("操作失败，请刷新页面重新尝试！");
                                }
                            });
                    }});
            }
        });

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "post",
                    url: "/report/save",
                    data: $('#form').serialize(),
                    success: function(data){
                        $('#myModal').modal('hide');
                        $('#table').bootstrapTable('refresh');
                    },
                    error:function(xhr,state,errorThrown){
                        alert("保存失败，请确认日期是否已经填写！");
                    }
                });
            }
        });

        $('#next').click(function() {

            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "post",
                    url: "/report/save",
                    data: $('#form').serialize(),
                    success: function(data){
                        $('#id').val('');
                        $('#content').val('');
                        $('#comment').val('');
                        // console.log($('#date').val().add('d', 1).toDate());
                        // var nextday = $('#date').data("DateTimePicker").date().add('d', 1).toDate();
                        var nextday = moment($('#date').val().split(' ')[0]).add('d', 1).toDate();
                        $('#date').data("DateTimePicker").options({date: nextday});
                        $('#table').bootstrapTable('refresh');
                    },
                    error:function(xhr,state,errorThrown){
                        alert("保存失败，请确认日期是否已经填写！");
                    }
                });
            }
        });
    });


    $('#table').bootstrapTable({
        url: '/report/list',
        // pagination: true,
        sidePagination: "server",
        locale: 'zh-CN',
        ajaxOptions:{
            // data: $('#resource-form').serialize() //无效
            traditional:true
        },
        toolbar: "#toolbar",
        clickToSelect: true,
        singleSelect: true,
        sortable: true,
        smartDisplay: false,
        //pageNumber: 1,     //初始化加载第一页，默认第一页
        //pageSize: 10,      //每页的记录行数（*）
        queryParams: function (params) {
            params.jobNumber = $('#jobNumber').val();
            params.month = $('#month').val();
            return params;
        },

        onClickRow: function (row, $element) {
            //console.log(row.id);
        },
        onDblClickRow: function (row, $element) {
            // $('#main').text('客户：' + row.name + ' ' + row.customerPhoneNumber);
            $.ajax({
                type: "get",
                url: "/report/get",
                data: {
                    'id': row.id
                },
                success: function(data){
                    $('#next').hide();
                    $('#id').val(data.id);
                    $('#date').val(data.date);
                    $('#content').val(data.content);
                    $('#comment').val(data.comment);
                    $('#myModal').modal('show');
                },
                error:function(xhr,state,errorThrown){
                    alert("操作失败，请稍后重新尝试！");
                }
            });
        },
        columns: [ {
            field: '',
            checkbox: true, // 显示一个勾选框
            align: 'center', // 居中显示
        }, {
            field: 'id',
            title: 'ID',
            visible: false
        }, {
            field: 'date',
            title: '日期'
        }, {
            field: 'content',
            title: '计划内容'
        }, {
            field: 'comment',
            title: '备注'
        }]
    });


</script>
</html>