<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>recommendation</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<form role="form" id="form"  method="post" enctype="multipart/form-data">
    <!--  如果手机号码为空则显示  -->
    <div class="form-group" th:if="${session.user.phoneNumber == null or session.user.phoneNumber eq ''}">
        <label for="phoneNumber" class="col-sm-2 control-label">本人手机号码</label>
        <input type="tel" class="col-sm-2 form-control" name="phoneNumber" id="phoneNumber"
               pattern="^1[3-9]\d{9}$" required maxlength="11" />
    </div>
</form>
<div class="panel panel-info" th:each="recommendation, state : ${recommendations}">
    <div class="panel-heading">
        <h3 class="panel-title" th:text="已推荐 + ${state.index + 1}"></h3>
    </div>
    <div class="panel-body">
        <span th:text="${recommendation.name} + '&nbsp&nbsp&nbsp&nbsp'
        + ${recommendation.phoneNumber} + '&nbsp&nbsp&nbsp&nbsp' + ${recommendation.mode.getDesc()}"></span>
        <p></p>
        <p>
            <button type="button" class="btn btn-primary " th:onclick="'javascript:progress('+${recommendation.id}+')' ">查看进度</button>
<!--            <button type="button" class="btn btn-danger " th:onclick="'javascript:remove('+${recommendation.id}+')' ">删除</button>-->
        </p>
    </div>
</div>

<div class="col-md-4 text-center">
    <button type="button" class="btn btn-info btn-lg" onclick="toAdd()">添加推荐</button>
<!--    <button type="button" onclick="goBack()" class="btn btn-info btn-lg">返回</button>-->
</div>

</body>
<script th:inline="javascript">
    function goBack() {
        $(".panel-body").modal('show');
        window.location.href='/user/toApply';
    }
    function toAdd() {
        var phoneNumber = [[${session.user.phoneNumber}]];
        console.log(phoneNumber);
        console.log(phoneNumber === null);
        console.log(phoneNumber === '');
        if (phoneNumber === null || phoneNumber === '') {
            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "POST",
                    url: "/user/save-phone-number",
                    data: {
                        "phoneNumber": $("#phoneNumber").val()
                    },
                    async: false,
                    success: function(result){
                        if (result) {
                            window.location.href='/recommendation/toAdd';
                        } else {
                            alert("添加手机号失败，请稍后再试！");
                        }
                    },
                    error:function(xhr,state,errorThrown){
                        alert("添加手机号失败，请稍后再试！");
                    }
                });
            }
        } else {
            window.location.href='/recommendation/toAdd';
        }

    }

    function toEdit(id) {
        window.location.href="/recommendation/toEdit?id=" + id;
    }

    function progress(id) {
        window.location.href='/recommendation/progress?id=' + id;
    }


</script>
</html>